<html>
<body>
    <form asp-controller="Home" asp-action="Display">
        <h2>Lets enter</h2>
        <input type="submit" value="enter" asp-controller="Home" asp-action="Display" />
    </form>
</body>

</html>